
@{
    ViewBag.Title = "All Users";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <th>Username</th>
        <th>Email</th>
        <th>Details</th>
    </thead>
    <tbody>
        @foreach(var user in ViewBag.UsersList)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@Html.ActionLink("View Details", "Details", new { id = user.Id })</td>
            </tr>
        }
    </tbody>
</table>