
@{
    ViewBag.Title = "Organisation Types";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <th>Name</th>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <th>Update/Remove</th>
        }
    </thead>
    <tbody>
        @foreach (var organisationType in ViewBag.OrganisationTypes)
        {
            <tr>
                <td> @organisationType.Name</td>
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <td>
                        @using (Html.BeginForm(actionName: "Edit", controllerName: "OrganisationType", method: FormMethod.Get,
                        routeValues: new { id = organisationType.OrganisationTypeId }))
                        {
                            <button class="btn btn-link col-lg-3" type="submit">Update</button>
                        }

                        @using (Html.BeginForm(actionName: "Delete", controllerName: "OrganisationType", method: FormMethod.Post,
                        routeValues: new { id = organisationType.OrganisationTypeId }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-link col-lg-3" type="submit">Remove</button>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Add an organisation type(level of operation)", "New")
}