
@{
    ViewBag.Title = "All Organisations";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    @foreach (var organisation in ViewBag.Organisations)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@organisation.Name</h3>
                    <p class="card-text">@organisation.ShortDescription</p>
                    <br />
                </div>
            </div>
        </div>
    }
</div>

