
@{
    ViewBag.Title = "All Organisations";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<br />
<div class="container">
    <div class="row">
        @foreach (var organisation in ViewBag.Organisations)
        {
            <div class="col-lg-4">
                <div class="card-columns border-info" style="max-width: 32rem;">
                    <div class="card-body">
                        <h3 class="card-title">@organisation.Name</h3>
                        <p class="card-text">@organisation.ShortDescription</p>
                        @using (Html.BeginForm(actionName: "Details", controllerName: "Organisation",
                            method: FormMethod.Get, routeValues: new { id = organisation.OrganisationId }))
                        {
                            <button class="btn btn-info">Details</button>
                        }
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Add organisation", "New")
}


