
@{
    ViewBag.Title = "All Organisations";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<br />
<div class="container">
    <div class="row">
        @foreach (var organisation in ViewBag.Organisations)
        {
            <div class="col-lg-4">
                <div class="card-columns border-info" style="max-width: 32rem;">
                    <div class="card-body">
                        <h3 class="card-title">@organisation.Name</h3>
                        <p class="card-text">@organisation.ShortDescription</p>
                        @if (organisation.Orientations.Count > 0)
                        {   <strong>Orientations:</strong>
                            <ul class="list-group list-group-flush">
                               @foreach (var orientation in organisation.Orientations)
                               {
                                   <li class="list-group-item">@orientation.Name</li>
                               }
                            </ul>
                        }
                        @using (Html.BeginForm(actionName: "Details", controllerName: "Organisation",
                            method: FormMethod.Get, routeValues: new { id = organisation.OrganisationId }))
                        {
                            <button class="btn btn-info">Details</button>
                        }
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
