@{
    ViewBag.Title = "About Donategenix";
}
<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
 </div>

<div class="text-center">
    <p>More than 1,000 organizations and individuals with causes trust Donately to manage 
    their online donations. Built with simplicity in mind, our features give you more time
    to raise money online and our software grows with you, so the possibilities are endless.</p>
</div>

<div class="text-center">
    <h4>Ultimately, we believe time spent solving problems shouldn’t 
    be wasted using clunky and expensive online donation software.</h4>
</div>