@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>About Donategenix</h1>
    <p class="lead">
        We’ve learned the hard way how to fundraise the easy way.
    </p>
    <p>
        More than 1,000 organizations and individuals with causes trust Donately to manage their online donations. 
        Built with simplicity in mind, our features give you more time to raise money online and our software grows with 
        you, so the possibilities are endless.
    </p>
    <p>
        <a href='@Url.Action("Index", "Organisation")' class="btn btn-primary btn-lg">View all organisations &raquo;</a>
    </p>
</div>