
@{
    ViewBag.Title = "All Projects";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<br />
<div class="container">
    <div class="row">
        @foreach (var project in ViewBag.Projects)
        {
            <div class="col-lg-4">
                <div class="card-columns border-info" style="max-width: 32rem;">
                    <div class="card-body">
                        <h3 class="card-title">@project.Name</h3>
                        <p class="card-text">@project.ShortDescription</p>
                        @using (Html.BeginForm(actionName: "Details", controllerName: "Project",
                            method: FormMethod.Get, routeValues: new { id = project.ProjectId }))
                        {
                            <button class="btn btn-info">Details</button>
                        }
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Add project", "New")
}